<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gamestore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.GameStore">
        <activity android:name=".ui.chat.activity.ChatActivity"></activity>
        <activity android:name=".ui.product.activity.PaymentActivity" />
        <activity android:name=".ui.seller.home.SellerHomeActivity" />
        <activity android:name=".ui.seller.regisration.activity.SellerRegistrationActivity" />
        <activity android:name=".ui.userType.UserTypeActivity" />
        <activity android:name=".ui.signup.SignUpActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.product.activity.ProductActivity" />
        <activity android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>